* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   display: grid; 
    font-family: "Work Sans", sans-serif;
    overflow: hidden;
}

:root{
    --heading: rgb(0,10,45);
    --para: #777;
    --para-tint:#e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --overlay: #3e64ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --icon-bg: rgba(144, 172, 209, 0.2);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100);
    --gradientSupport: -webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
    --shadow2: 0px 20px 20px 0px rgba(73, 75, 190, 0.3);
}



/* -----------REUSABLE CODE------------- */

a,p{
    text-decoration: none;
    color: var(--white);
}

a:hover{
    color: yellow;
}

h1,h2{
    color: var(--heading);
    font-size: 3rem;
    /* font-weight: 600; */
    color: var(--white);
    text-transform: uppercase;
}

h3{
    margin: 3rem 0rem 0rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: yellow
}

section{
    overflow: hidden;
    display: inline;
}

.section{
    padding: 9rem 0;
    
}

.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);

}
/* .button{
    background: rgba(0, 0, 0, 0.7);
    border: none;
} */

button{
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 10px 50px;
    width: 14rem;
    border: 0px solid var(--white);
    border-radius: 14px;
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    margin-top: 15px;
    margin-left: 4.5rem;
    transition: all .5s ease;
    background: #d64502;

}

button:hover {
    background: var(--white);
    color: #d1490a;
    font-weight: bold;

}

.id {
    height: 28px;
    width: 180px;
    margin: 0.8rem;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border: none;
}

#role{
    height: 40px;
}


.container{
    max-width: 140rem;
    margin: 0 auto;
}

.error{
    color: red;
}
/* ----------CONTAINER------------- */

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    background-size: cover;
    background-image: url('BG_3.jpg');
}

.section-data{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6rem;
    margin-top: 6rem;
}
.section-data button{
    margin-left: 8rem;
}

pre{
    color: var(--white);
    line-height: 1.2;
    font-size: 1.2rem;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
}


.login {
    position: fixed;
    top: 50%;
    left: 80%;
    z-index: 2;
    width: 30vw;
    height: max-content;
    padding: 30px 0px 30px 20px;
    text-align: center;
    color:var(--white);
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 14px;
    border: 0px inset var(--white);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); 
}
.section-login{
    display: flex;
    flex-direction: column;
    
}

#label{
    margin-left: 1rem;
    text-align: left;
}

.for {
    display: inline-block;
    padding: 10px 15px;
    height: 2rem;
    width: 23rem;
    text-decoration: none;
    border: 0px solid var(--white);
    border-radius: 14px;
    color: var(--black);
    font-size: 15px;
    margin-top: 5px;
}

.for:hover {
    font-weight: bold;
    color: var(--black);
}

/* .role {
    height: 25px;
    width: 17vw;
    text-align: center;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    transition: all .7s ease;
    font-family: nexa;
}

.role:hover {
    cursor: pointer;
    color: var(--helper);
    background: var(--white);
    font-weight: bold;
} */




